/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

.spacer
{
    width: 100%;
    height: 60px;
}

.rounded-textbox {
  width: 80%; 
  border-radius: 2px;
  border: 1px solid black;
  padding: 8px;

}

.date-textbox {
  width: 80%; 
  border: 1px solid black;


}