<nav>
  <p>
  <p>
  <p>

  <div class="grid">

    <div class="col-6">
      <div class="p-3 border-round-sm border-solid text-center">

        <div class="p-3 border-round-sm bg-green-500 text-center">
          Ingredients
        </div>
        <p>
        <div class="grid">
          <div class="col-3">
            <img src="images/grain.jpg" alt="Grains"
              pTooltip="Grains" tooltipPosition="top"
              width="100%" height="80%"
              routerLinkActive="active" routerLink="/grain-list" />
          </div>
          <div class="col-3">
            <img src="images/yeast.jpg" alt="Yeast" pTooltip="Yeast"
              tooltipPosition="top" width="100%" height="80%"
              routerLinkActive="active" routerLink="/yeast-list" />
          </div>
          <div class="col-3">
            <img src="images/hop.png" alt="Hops" pTooltip="Hops"
              tooltipPosition="top" width="100%" height="80%"
              routerLinkActive="active" routerLink="/hop-list" />
          </div>
          <div class="col-3">
            <img src="images/adjunct.jpg" alt="Adjuncts" pTooltip="Adjuncts"
              tooltipPosition="top" width="100%"
              height="80%"
              routerLinkActive="active" routerLink="/adjunct-list" />
          </div>

        </div>
      </div>
    </div>


    <div class="col-6">
      <div class="p-3 border-round-sm border-solid text-center">

        <div class="p-3 border-round-sm bg-green-500 text-center">
          Recipes

        </div>

      </div>
    </div>

  </div>


</nav>